

@media screen and (max-width: 1345px){
    .img-port{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
}

@media screen and (max-width: 1255px){


header .menu-desktop, .btn-top{
    display: none;
}

header{
    height: 80px;
    align-items: center;
}

header .logo img{
    width: 50px;
}

header .btn-menu-mob{
    display:block;
}

h2.title{
    font-size: 30px;
    text-align: center;
}

section.site-top{
    margin-top: 120px;
}

section.site-top .interface{
    padding: 0 10%;
}

section.site-profile .interface{
    padding: 0 10%;
}

section.site-projects .interface{
    padding: 0 10%;
}

section.site-contacts .interface{
    padding: 0 10%;
}

section.site-top .flex{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.site-top .img-site-top img{
    width: 200px;
    border-top-left-radius: 100px;
    border-end-end-radius: 100px;
    margin-top: 90px;
}

.site-top h2{
    font-size: 30px;
}

.site-top h3{
    font-size: 30px;
}

.site-top .txt-site-top p{
    margin: 0px 0;
    margin-top: 20px;
    font-size: 20px;
    max-width: 500px;
}

section.site-profile .interface{
    margin-top: 60px;
    flex-direction: column;
}

.site-profile .flex p{
    font-size: 18px;
    line-height: 28px;
    text-align: start;
}

section.site-profile .flex{
    margin-top: 20px;
    gap: 0
}

.site-profile .skills .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    font-size: 30px;
}

section.site-projects .interface{
    margin-top: 10px;
}

section.site-projects .flex{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.img-port{
    width: 260px;
    height: 360px;
    border-radius: 20px;
}

.overlay{
    border-radius: 20px;
}

.social-box{
    line-height: 60px;
    font-size: 9px;
}

.social-icons{
    display: flex;
    padding: 20px 0%;
    font-size: 30px;
    margin-top: 60px;
    gap: 20px;
}

}

@media screen and (max-width: 694px){

    footer{
        width: 110%;
    }



}