
/* UNIVERSAL STYLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: radial-gradient(circle, rgb(12, 2, 26) 0%, rgb(2, 1, 7) 70%);
    color: white;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;;
}

.btn-top button{
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-color: rgb(126, 46, 247);
    border-radius: 10px;
    cursor: pointer;
}

.btn-top button:hover{
    box-shadow: 0px 0px 20px rgb(126, 46, 247);
    transition: 0.5s all;
}

/* HEADER STYLE */

header{
    padding: 40px 5%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 120px;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: rgb(126, 46, 247);
    transition: 0.3s all;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* MAIN STYLE */

section.site-top{
    padding: 40px 4%;
    margin: 70px 0;
}

section.site-top .flex{
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.site-top .img-site-top img{
    width: 300px;
    box-shadow: 0px 0px 40px rgb(126, 46, 247);
    border-top-left-radius: 120px;
    border-end-end-radius: 120px;
    border-top-right-radius: 40px;
    border-end-start-radius: 40px;
    display: inline-block;
    transition: .2s;
}

.site-top .img-site-top img:hover{
    box-shadow: 0px 0px 80px rgb(126, 46, 247);
    transform: scale(1.02);
    transition: .2s;
}

.site-top h1{
    color: #fff;
    font-size: 20px;
}

.site-top h2{
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
}

.site-top h3{
    color: #fff;
    font-size: 60px;
}

.site-top h4{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.site-top .txt-site-top h2 span{
    color: rgb(126, 46, 247);
}

.site-top .txt-site-top p{
    margin: 50px 0;
    font-size: 20px;
    color: rgb(126, 46, 247);
    line-height: 30px;
}
