
/* -------------- UNIVERSAL STYLE -------------- */

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: radial-gradient(circle, rgb(12, 2, 26) 0%, rgb(2, 1, 7) 70%);
    color: white;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-top button{
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-color: rgb(126, 46, 247);
    border-radius: 10px;
    cursor: pointer;
}

.btn-top button:hover{
    box-shadow: 0px 0px 20px rgb(126, 46, 247);
    transition: 0.5s all;
}

h2.title{
    font-size: 40px;
    text-align: center;
}

h2.title span{
    color: rgb(126, 46, 247);
}


/* -------------- HEADER STYLE -------------- */


header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 25px 4%;
    width: 100%;
    height: 130px;
    background-image: radial-gradient(circle, rgb(12, 2, 26) 0%, rgb(2, 1, 7) 70%);
    box-shadow: 0px 0px 10px rgb(126, 46, 247, 40%);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 120px;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: rgb(126, 46, 247);
    transition: 0.3s all;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* -------------- HOME STYLE -------------- */


section.site-top{
    padding: 40px 4%;
    margin-top: 250px;
}

section.site-top .flex{
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.site-top .img-site-top img{
    width: 300px;
    box-shadow: 0px 0px 40px rgb(126, 46, 247);
    border-top-left-radius: 120px;
    border-end-end-radius: 120px;
    border-top-right-radius: 40px;
    border-end-start-radius: 40px;
    display: inline-block;
    transition: .2s;
}

.site-top .img-site-top img:hover{
    box-shadow: 0px 0px 80px rgb(126, 46, 247);
    transform: scale(1.02);
    transition: .2s;
}

.site-top h1{
    color: #fff;
    font-size: 20px;
}

.site-top h2{
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
}

.site-top h2 span{
    color: rgb(126, 46, 247);
}

.site-top h3{
    color: #fff;
    font-size: 60px;
}

.site-top h4{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}


.site-top .txt-site-top p{
    margin: 50px 0;
    font-size: 20px;
    color: rgb(126, 46, 247);
    line-height: 30px;
}


/* -------------- PROFILE STYLE -------------- */


section.site-profile{
    padding: 40px 4%;
    justify-content: center;
}

section.site-profile .interface{
    margin-top: 220px;
    flex-direction: row;
}

section.site-profile .flex{
    margin-top: 60px;
    gap: 50px;
}

.site-profile .interface h2 span{
    color: rgb(126, 46, 247);
}

.site-profile .flex p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.site-profile .flex p span{
    color: rgb(126, 46, 247);
    font-size: 40px;
    font-weight: bold;
}

.site-profile .skills{
    margin-top: 90px;
}

.site-profile .skills .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-top: 90px;
    font-size: 40px;
}

.site-profile .skills .icons a{
    color: white;
    transition: .2s;
}

.site-profile .skills .icons a:hover{
    transform: scale(1.1);
    border-width: 50px;
    border-radius: 10px;
    box-shadow: 0px 3px 1.5px rgb(126, 46, 247);
}


/* -------------- PROJECTS STYLE -------------- */ 


section.site-projects{
    padding: 80px 4%;
}

section.site-projects .interface{
    margin-top: 100px;
    flex-direction: row;
}

section.site-projects .flex{
    margin-top: 100px;
    justify-content: space-between;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(126, 46, 247);
    cursor: pointer;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.616);
    color: #fff;
    opacity: 0;
    transition: 0.5s all;
}

.overlay:hover{
    opacity: 1;
}

/* -------------- CONTACTS STYLE -------------- */

section.site-contacts{
    padding: 80px 4%;
}


section.site-contacts .flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-box{
    line-height: 60px;
}

.social-box span{
    color: rgb(126, 46, 247);
    margin-right: 20px;
}

.social-icons{
    display: flex;
    padding: 20px 500px;
    font-size: 40px;
    margin-top: 60px;
    gap: 40px;
}

.social-icons a{
    color: #fff;
    transition: .2s;
}

.social-icons a:hover{
    transform: scale(1.1);
    border-width: 50px;
    border-radius: 10px;
    box-shadow: 0px 3px 1.5px rgb(126, 46, 247);
}


/* -------------- FOOTER STYLE -------------- */

footer{
    padding: 20px 4%;
    margin-top: 100px;
    box-shadow: 0px 0px 10px rgb(126, 46, 247, 40%);
}
footer > .interface{
    text-align: center;
    justify-content: center;
}